<ng-container *ngIf="(job$ | async) as job">
  <div class="is-size-3">
    <span class="has-text-grey-light"># {{ job.jobId }}</span>
    <br />
    <h2>{{ job.title }}</h2>
  </div>
  <button class="button is-primary" [ngClass]="{'is-primary': !applied, 'is-danger': applied}" (click)="toggleApplied()">
    {{ applied ? 'Applied': 'Apply Now'}}
  </button>
  <div class="is-size-5 " *ngIf="job.description">
    <h3 class="has-text-grey-light">Description</h3>
    <p>{{ job.description }}</p>
  </div>
  <div class="is-size-5 " *ngIf="job.duties">
    <h3 class="has-text-grey-light">Duties</h3>
    <p class="content" [innerHTML]="job.duties"></p>
  </div>
  <div class="is-size-5 " *ngIf="job.experience">
    <h3 class="has-text-grey-light">Experience</h3>
    <p class="content" [innerHTML]="job.experience"></p>
  </div>
</ng-container>
