/* You can add global styles to this file, and also import other style files */
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";

a.no-style:link {
  text-decoration: inherit;
  color: inherit;
}

a.no-style:visited {
  text-decoration: inherit;
  color: inherit;
}
